<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jerico.springboot.mybatis.dao.UserDAO">
    <sql id="base_column">
        id, name, email,create_time, last_update_time
    </sql>
    <select id="getUser" resultType="com.jerico.springboot.mybatis.entity.UserEntity">
        SELECT
        <include refid="base_column"/>
        FROM user
        where id = #{id}
    </select>

    <select id="getUserByName" resultType="com.jerico.springboot.mybatis.entity.UserEntity">
        SELECT
        <include refid="base_column"/>
        FROM user
        where name = #{name}
    </select>

    <select id="listUsers" resultType="com.jerico.springboot.mybatis.entity.UserEntity">
        select
        <include refid="base_column"></include>
        from user
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into user
            (name, email,create_time,last_update_time) values (#{name}, #{email}, now(),now())
    </insert>

    <!-- 通过id更新 -->
    <update id="updateUser">
        update user
        set id = #{id}, name = #{name}, email = #{email}
        where id = #{id}
    </update>

    <!-- 更新不为空的属性 -->
    <update id = "updateUserNotNull">
        update user
        <set>
            <if test = "name != null">
                name = #{name},
            </if>
            <if test = "email ! null">
                email = #{email}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id = "deleteUser">
        delete from user where id = #{id}
    </delete>

    <insert id="batchInsertUser" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into user (id, name,email, create_time, last_update_time) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.name},#{item.email}, now(), now())
        </foreach>
    </insert>

<!--    <update id="batchUpdateUser" parameterType="java.util.List">-->
<!--        <foreach collection="list" item="item" index="index" separator=";">-->
<!--                update user-->
<!--                <set>-->
<!--                    <if test="item.name != null">`name`=#{item.name},</if>-->
<!--                    <if test="item.email != null">email=#{item.email}</if>-->
<!--                </set>-->
<!--                where id = #{item.id}-->
<!--        </foreach>-->
<!--    </update>-->

    <update id="batchUpdateUser" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update user
            <set>
                <if test="item.name != null">
                    name = #{item.name,jdbcType=VARCHAR},
                </if>
                <if test="item.email != null">
                    email = #{item.email,jdbcType=VARCHAR},
                </if>
            </set>
            where id = #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>

    <delete id="batchDeleteUser" parameterType="java.util.List">
        DELETE FROM user WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>